body{
  background-color:#F7D39F;
  margin-left:75px;
  margin-right:75px;
  margin-top:10px;
  margin-bottom:10px;
}
  header{
    background-color: #A1630D;
    padding-bootom:10px;
}
h1{
    color:#F7D39F;
 text-align: center;
}
h2{
  color:#F7D39F;
  text-align:center
}
h3{
  text-align:center;
}
p{
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-size: 15px;
}
footer{
  padding-top:10px;
  background-color: #A1630D;
  height:125px;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}
.firstHR{
  border-width:5px;
  border-color:black;
  border-style:inset;
}
a{ 
  color:black;
  text-align: center;
  margin-left:25px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a.here{
  color:black;
  margin:0px;
}
a.here:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a.here:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a.here:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a.here:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
